.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}

h1, h2, h3, h4, h5, h6 {
}
h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

ul {
	margin-left: 16px;
	list-style-type: square;
}
ol {
	margin-left: 16px;
}
li {
	margin: 5px 0px;
}

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}

blockquote {
	border: 1px solid #ccc;
	padding: 10px 20px;
	display: inline-block;
}

body {
	font-family: "museo-sans",sans-serif;
	font-size: 13px;
	color: #666;
	-webkit-text-size-adjust: 100%;
}

a {
	text-decoration: none;
}
a:link {
	color: #00a8e6; /* blue */
}
a:visited {
	/* color: #d42aae; */ /* purple */
	color: #00a8e6; /* blue */
}
a:hover {
	color: #4ddb4a; /* green */
}
a:active {
	color: #00ff3b; /* green */
}

header {
	border-bottom: 1px solid #eee;
}

div#main {
	padding: 10px 0px;
}

#container {
	margin: 5% 10%;
}

div.left {
	float: left;
}
div.right {
	float: right;
}

div.thirds {
	width: 31%;
	min-width: 240px;
	margin-right: 2%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.standout {
	text-align: center;
	background: #eee;
}
h2.caption {
	margin: 25% 5%;
	font-size: 54px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(0, 168, 255, 0.5);
	text-shadow: 3px 3px 0 rgba(255, 0, 180, 0.5);
}
h5.caption {
	margin-bottom: 10px;
	font-style: italic;
}
div.last {
	margin-right: 0px;
}

h1#title {
	font-size: 52px;
	font-family: "anisette-petite-sc",sans-serif;
	letter-spacing: -3px;
}
h1#title a {
	color: #333;
}
h1#title a:hover {
	color: #666;
}

ul#links {
	list-style-type: none;
	float: right;
	margin-top: 16px;
	font-size: 28px;
}
ul#links li {
	float: left;
	margin-right: 5px;
}
ul#links li.last {
	margin-right: 0px;
}

footer {
	clear: both;
	border-top: 1px solid #eee;
	padding-top: 10px;
	font-size: 75%;
	color: #999;
}

p.update {
	background: #fffccc;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	margin-bottom: 0px;
}

.posts {
	list-style-type: square;
}
.posts li {
	margin: 10px 0px;
}

#notfound {
	text-align: center;
	margin: 200px 0px;
}
#notfound p {
	margin-top: 10px;
}
span.notfound {
	color: #fff;
	background: #ff3300;
	padding: 0px 3px;
	text-transform: uppercase;
	font-weight: bold;
}

#disqus_thread {
	width: 700px;
	margin-top: 20px;
}

.footnote {
	font-size: 50%;
	vertical-align: super;
	margin-left: 2px;
}
ol#footnotes {
	margin-top: 20px;
	list-style-type: decimal;
	font-size: 50%;
}

p {
	line-height: normal;
	margin: 10px 0px;
}
code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 11px;
	line-height: 1.2;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 2px 5px;
}
div.highlight {
	background: #333;
	padding: 10px;
	width: 700px;
}
div.highlight pre code {
	background: inherit;
	border: none;
	padding: inherit;
}

span.date {
	float: right;
}
