/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}

h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }



body {
	font-family: "museo-sans",sans-serif;
	font-size: 0.8em;
	color: #666;
}

a {
	text-decoration: none;
}
a:link {
	color: #00a8e6; /* blue */
}
a:visited {
	/* color: #d42aae; */ /* purple */
	color: #00a8e6; /* blue */
}
a:hover {
	color: #4ddb4a; /* green */
}
a:active {
	color: #00ff3b; /* green */
}

header {
	border-bottom: 1px solid #eee;
}

div#main {
	padding: 10px 0px;
}

#container {
	margin: 5% 10%;
}

div.left {
	float: left;
}
div.right {
	float: right;
}

h1#title {
	font-size: 56px;
	font-family: "anisette-petite-sc",sans-serif;
	letter-spacing: -3px;
}
h1#title a {
	color: #333;
}
h1#title a:hover {
	color: #666;
}

ul#links {
	float: right;
	margin-top: 15px;
}
ul#links li {
	float: left;
	margin-right: 5px;
}
ul#links li.last {
	margin-right: 0px;
}

footer {
	clear: both;
	border-top: 1px solid #eee;
	padding-top: 10px;
	text-align: right;
	font-size: 75%;
	color: #999;
}
footer .left {
	float: left;
}
footer .right {
	float: right;
}
footer a {
	color: #999;
}
footer a:visited {
	color: #999;
}
footer a:hover {
	color: #666;
}

code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
}

p.update {
	background: #fffccc;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 10px 10px;
}

.posts {
	list-style-type: square;
}
.posts li {
	margin: 10px 0px;
}

#notfound {
	text-align: center;
	margin: 200px 0px;
}
#notfound p {
	margin-top: 10px;
}
span.notfound {
	color: #fff;
	background: #ff3300;
	padding: 0px 3px;
	text-transform: uppercase;
	font-weight: bold;
}

#disqus_thread {
	width: 450px;
	margin-top: 20px;
}

ul#tools {
	list-style-type: square;
}
ul#tools li {
	margin: 5px 0px;
}

.footnote {
	font-size: 50%;
	vertical-align: super;
	margin-left: 2px;
}
ol#footnotes {
	margin-top: 20px;
	list-style-type: decimal;
}
