<!doctype html>
<html>
	<head>
		<!--
		 __               ___                __   __   __         __        __
		|  \  /\  |\ | | |__  |        |\/| /  ` /  \ |__)  |\/| /  \ |\ | |  \
		|__/ /~~\ | \| | |___ |___     |  | \__, \__/ |  \  |  | \__/ | \| |__/
		
		-->
		<meta charset="utf-8">
		<meta name="description" content="Daniel McOrmond">
		<meta name="author" content="Daniel McOrmond">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>{{ page.title }}</title>
		<link href="/css/reset.css" rel="stylesheet" type="text/css">
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<link href="/css/pygments.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="http://use.typekit.com/nop2ftb.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-6841208-1']);
				_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div id="container">
			<header>
				<!-- Basic Social Media Icons by Rogie King http://rog.ie/
					http://www.finegoodsmarket.com/product/basic-social-media-icons -->
				<ul id="links">
					<li><a href="http://twitter.com/DanielMcOrmond"><img src="/img/twitter.png" alt="Twitter" /></a></li>
					<li class="last"><a href="http://github.com/DanielMcOrmond"><img src="/img/github_alt.png" alt="GitHub" /></a></li>
				</ul>
				<h1 id="title"><a href="/">Daniel McOrmond</a></h1>
			</header>
			<div id="main" role="main" class="group">
				{{ content }}
			</div>
			<footer>&copy; 2012 Daniel McOrmond</footer>
		</div>
	</body>
</html>
